{% extends 'app/base.html' %}

{% block content %}
    <div class="col d-flex justify-content-center">
        <h1>Recipe Factory</h1>
    </div>
    {% for recipe in recipes %}
        <div class="col d-flex justify-content-center">
            <div class="card" style="width: 40rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ recipe.author }}</h5>
                    <h5 class="card-title">{{ recipe.name }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Difficult: {{ recipe.difficult }}</h6>
                    <img class="card-img-top" src="{{ recipe.image.url }}" class="img-fluid" alt="Responsive image" height="350px">
                    <p class="card-text">{{ recipe.description|slice:":200" }}...</p>
                    <a href="{% url 'app:detail_recipe' recipe.pk %}" class="btn btn-primary">view details</a>
                </div>
            </div>
        </div>
        <br>
    {% endfor %}
{% endblock %}